.container {
    max-width: 1200px;
    margin: 0 auto;
}
.content-top {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 40px;
}
.search {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}
.content-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content:start;
    grid-gap: 40px;
}